<!-- <ng-template [ngIf]="(this.veiculos) ? true : false" >
  <div>
    {{ this.rendimento.veiculo.nome }}
    {{ this.rendimento.aplicativo.nome }}
    {{ (!(this.rendimento.veiculo.idVeiculo) ? true : false)}}
  </div>
</ng-template> -->

<div class="form-group" style="padding:20px">
  <div class="form-group row">
    <div class="col-12">
      <label for="veiculoSelect">Veículo</label>
      <select class="form-control" name="veiculoSelect"  [(ngModel)]="this.rendimento.veiculo" [compareWith]="compararVeiculo">
        <ng-template [ngIf]="(this.veiculos) ? true : false" >
        <option value="undefined" [selected]="rendimento.veiculo.idVeiculo == undefined" disabled>Selecione um veículo</option>
        <option  *ngFor="let veiculo of this.veiculos" [ngValue]="veiculo">
          {{veiculo.nome}}
        </option>
        </ng-template>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <label for="aplicativoSelect">Aplicativo</label>
      <select class="form-control" name="aplicativoSelect" [(ngModel)]="this.rendimento.aplicativo" [compareWith]="compararAplicativo">
        <ng-template [ngIf]="(this.aplicativos) ? true : false" >
        <option value="undefined" [selected]="rendimento.aplicativo.idAplicativo == undefined" disabled>Selecione um aplicativo</option>
        <option *ngFor="let aplicativo of this.aplicativos" [ngValue]="aplicativo">
          {{aplicativo.nome}}
        </option>
        </ng-template >
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <label for="valorRecebido">Valor Recebido</label>
        <input type="text" name="valorRecebido" value="0.00" [(ngModel)]="this.rendimento.valorRecebido" [textMask]="{mask: mascaraRs}">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <label for="tempoEmCorrida">Tempo em Corrida</label>
      <input type="time" name="tempoEmCorrida" value="" [(ngModel)]="this.rendimento.tempoEmCorrida">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <label for="distanciaPercorrida">Distância Percorrida <small>(Em kilometros)</small></label>
      <input type="text" name="distanciaPercorrida" [textMask]="{mask: mascaraKm}" value="0.00" [(ngModel)]="this.rendimento.distanciaPercorridaEmKm">
    </div>
  </div>
</div>
