<div class="container" style="padding:20px;">
  <div class="row">
    <h2>Aplicativos</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button routerLink="cadastrar" class="btn btn-success">Novo Aplicativo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <tabset *ngIf="(aplicativos.length > 0)">
        <tab *ngFor="let aplicativo of aplicativos" heading="{{ aplicativo.nome }}" id="{{ aplicativo.idAplicativo }}" >
          <app-aplicativo-detalhes [aplicativo]="aplicativo" (eventoExcluir)="excluir(aplicativo)"></app-aplicativo-detalhes>
        </tab>
      </tabset>
    </div>
  </div>
</div>
