<div class="container" style="padding:20px;">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2>Diárias</h2>
    </div>
    <div class="col-sm-12 col-md-6 text-md-right">
      <button routerLink="cadastrar" class="btn btn-success">Nova Diária</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-md-center">
      <mat-radio-group labelPosition="after">
        <mat-radio-button name="listar" value="semana" (change)="this.listarSemana()" checked>Últimas 7</mat-radio-button>
        <mat-radio-button name="listar" value="mes" (change)="this.listarMes()">Últimas 30</mat-radio-button>
        <mat-radio-button name="listar" value="todas" (change)="this.listarTodas()">Todas</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <ng-template [ngIf]="this.contagemPaginas > 0">
    <div class="row">
      <div class="col-sm-12 text-md-center">
        <app-paginacao-diaria [contagemPaginas]="this.contagemPaginas" [paginaAtual]="this.paginaAtual" (eventoTrocar)="listarTodas($event)"></app-paginacao-diaria>
      </div>
    </div>
  </ng-template>
  <div class="row">
    <div class="col-sm-12">
      <ng-template [ngIf]="this.diarias">
        <mat-expansion-panel *ngFor="let diaria of diarias">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ servico.getDias(diaria) }}
            </mat-panel-title>
            <mat-panel-description>
              Das {{ servico.getHoraInicio(diaria) }} às {{ servico.getHoraFim(diaria) }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="padding:20px;" class="text-center">
            <button type="button" name="atualizar" routerLink="atualizar/{{diaria.idDiaria}}" class="btn btn-outline-success btn-sm">Alterar</button>&nbsp;&nbsp;
            <button type="button" name="excluir" (click)="excluir(diaria)" class="btn btn-outline-danger btn-sm">Excluir</button>
          </div>
          <!-- <br /> -->
          <mat-tab-group dynamicHeight="true">
            <mat-tab *ngFor="let rendimento of diaria.rendimentosDiarios">
              <ng-template mat-tab-label>{{rendimento.aplicativo.nome}}</ng-template>
              <p></p>
              <p>Aplicativo: {{rendimento.aplicativo.nome}}</p>
              <p>Veículo: {{rendimento.veiculo.nome}}</p>
              <p>Tempo em corrida: {{ rendimento.tempoEmCorrida }}</p>
              <p>Distância percorrida: {{rendimento.distanciaPercorridaEmKm}}</p>
              <p>Recebido:
                <ul>
                  <li>Bruto: {{rendimento.valorRecebido | currency:'BRL'}}</li>
                  <li>Por hora em corrida: {{servicoRendimento.getValorPorHora(rendimento) | currency:'BRL'}}</li>
                  <li>Por kilômetro percorrido: {{servicoRendimento.getValorPorDistancia(rendimento) | currency:'BRL'}}</li>
                </ul>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>Total</ng-template>
              <p></p>
              <p>Tempo total: {{servico.getTempoTotal(diaria)}}</p>
              <p>Tempo em corridas: {{servico.getTempoTotalEmCorrida(diaria)}}</p>
              <p>Distância percorrida: {{servico.getDistanciaTotal(diaria)}}</p>
              <p>Recebido</p>
              <ul>
                <li>Bruto: {{servico.getValorRecebidoTotal(diaria) | currency:'BRL'}}</li>
                <li>Por hora em corrida: {{servico.getValorPorHoraEmCorrida(diaria) | currency:'BRL'}}</li>
                <li>Por kilômetro percorrido: {{servico.getValorPorDistancia(diaria) | currency:'BRL'}}</li>
              </ul>
            </mat-tab>
          </mat-tab-group>
        </mat-expansion-panel>
      </ng-template>
    </div>
  </div>
  <ng-template [ngIf]="this.contagemPaginas > 0">
    <div class="row">
      <div class="col-sm-12 text-md-center">
        <app-paginacao-diaria [contagemPaginas]="this.contagemPaginas" [paginaAtual]="this.paginaAtual" (eventoTrocar)="listarTodas($event)"></app-paginacao-diaria>
      </div>
    </div>
  </ng-template>
</div>
