<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Veículo</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <form class="form-group">
        <div class="form-group row">
          <div class="col-12">
            <label for="nomeVeiculo">Nome </label>
            <input [(ngModel)]= "this.veiculo.nome" type="text" name="nomeVeiculo" id="nomeVeiculo" class="form-control" placeholder="Informe como o veículo deve ser chamado" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="placaVeiculo">Placa </label>
            <input [(ngModel)]= "this.veiculo.placa" type="text" name="placaVeiculo" id="placaVeiculo" class="form-control" placeholder="Informe o número da placa" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="descricaoVeiculo">Descrição </label>
            <textarea [(ngModel)]= "this.veiculo.descricao" name="descricaoVeiculo"  class="form-control" id="descricaoVeiculo"  rows="8" cols="80" maxlength="255"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button (click)="salvar()" class="btn btn-success">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
