<div class="container" style="padding:20px;">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2>Custos</h2>
    </div>
    <div class="col-sm-12 col-md-6 text-md-right">
      <button routerLink="cadastrar" class="btn btn-success">Novo Custo</button>&nbsp;&nbsp;&nbsp;
      <button type="button" routerLink="em-aberto" class="btn btn-warning">Parcelas à pagar</button>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <ng-template [ngIf]="this.contagemPaginas > 0">
    <div class="row">
      <div class="col-sm-12 text-md-center">
        <app-paginacao-custo [contagemPaginas]="this.contagemPaginas" [paginaAtual]="this.paginaAtual" (eventoTrocar)="listarTodas($event)"></app-paginacao-custo>
      </div>
    </div>
  </ng-template>
  <div class="row">
    <div class="col-sm-12">
      <ng-template [ngIf]="this.custos">
        <mat-expansion-panel *ngFor="let custo of custos">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ custo.data | date:"dd/MM/yyyy" }}
            </mat-panel-title>
            <mat-panel-description>
              {{ custo.titulo}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="padding:20px;" class="text-center">
            <button type="button" name="atualizar" routerLink="atualizar/{{custo.idCusto}}" class="btn btn-outline-success btn-sm">Alterar</button>&nbsp;&nbsp;
            <button type="button" name="excluir" (click)="excluir(custo)" class="btn btn-outline-danger btn-sm">Excluir</button>
          </div>
          <div class="container custo-detalhe">
            <div class="row">
              <div class="col-sm-12">
                <b>Tipo:</b> {{  custo.tipo.descricao }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <b>Veículo:</b> {{  custo.veiculo.nome }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <b>Descrição:</b> {{  custo.descricao }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <b>Parcelas:</b>
              </div>
            </div>
            <div class="row" *ngFor="let parcela of custo.parcelas">
              <div class="col-sm-12">
                {{  parcela.dataVencimento | date:"dd/MM/yyyy" }} - {{ parcela.valor | currency:"BRL"}}  <b>{{ (parcela.pago) ? "PAGO" : "EM ABERTO"}}</b>
              </div>
            </div>
          </div>
          <!-- <br /> -->
        </mat-expansion-panel>
      </ng-template>
    </div>
  </div>
  <ng-template [ngIf]="this.contagemPaginas > 0">
    <div class="row">
      <div class="col-sm-12 text-md-center">
        <app-paginacao-custo [contagemPaginas]="this.contagemPaginas" [paginaAtual]="this.paginaAtual" (eventoTrocar)="listarTodas($event)"></app-paginacao-custo>
      </div>
    </div>
  </ng-template>
</div>
