<div class="container" style="padding:20px;">
  <div class="row">
    <h2>Veículos</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button routerLink="cadastrar" class="btn btn-success">Novo Veiculo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <tabset>
        <tab *ngFor="let veiculo of veiculos" heading="{{ veiculo.nome }}" id="{{ veiculo.idVeiculo }}" >
          <app-veiculo-detalhes [veiculo]="veiculo" (eventoExcluir)="excluir(veiculo)"></app-veiculo-detalhes>
        </tab>
      </tabset>
    </div>
  </div>
</div>
