<h2 mat-dialog-title>Cadastrar novo tipo de custo</h2>
<mat-dialog-content>
  <div class="form-group">
    <label for="descricaoTipo">Descrição</label>
    <input type="text" name="descricaoTipo" [(ngModel)]="tipo.descricao" class="form-control">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-light">Cancelar</button>
  <button (click)="salvar()" class="btn btn-success">Salvar</button>

</mat-dialog-actions>
