<nav>
  <ul class="pagination justify-content-center text-success">
    <li class="page-item"  [class.disabled]="paginaAtual == 0">
      <a class="page-link" (click)="irParaPagina(paginaAtual - 1)" aria-label="Anterior">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let pagina of arrPaginas" [class.active]="pagina == paginaAtual"><a class="page-link"  (click)="irParaPagina(pagina)">{{pagina + 1}}</a></li>
    <li class="page-item" [class.disabled]="paginaAtual == contagemPaginas">
      <a class="page-link" (click)="irParaPagina(paginaAtual + 1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
