<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Aplicativo</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <form class="form-group">
        <div class="form-group row">
          <div class="col-12">
            <label for="nomeAplicativo">Nome   <small>(Obrigatório)</small> </label>
            <input [(ngModel)]= "this.aplicativo.nome" type="text" name="nomeAplicativo" id="nomeAplicativo" class="form-control" placeholder="Informe como o aplicativo deve ser chamado" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="descricaoAplicativo">Descrição </label>
            <textarea [(ngModel)]= "this.aplicativo.descricao" name="descricaoAplicativo"  class="form-control" id="descricaoAplicativo"  rows="8" cols="80" maxlength="255"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button (click)="salvar()" class="btn btn-success">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
