.login-wrapper {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


.login-wrapper .container{
  padding: 20px;
  width: 400px;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 5px;
}

.login-wrapper .container .row{
  max-width: none;
  min-height: none;
  width: inherit;
}

.login-wrapper .container .col{
  min-height: none;
  max-width: none;
  width: inherit;
}

.button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:  center;
}
