<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Entre usando seu email de cadastro</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <form action="logar()" method="get">
          <div class="form-group row">
            <div class="col-12">
              <label for="emailUsuario">Email </label>
              <input [(ngModel)]= "this.usuario.email" type="email" name="emailUsuario" id="emailUsuario" class="form-control" placeholder="Informe seu email de cadastro" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label for="senhaUsuario">Senha </label>
              <input [(ngModel)]="this.usuario.senha" type="password" name="senhaUsuario" id="senhaUsuario" class="form-control" placeholder="Informe sua senha" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <div class="button-wrapper">
                <div >
                  <button (click)="autenticar()" class="btn btn-success">Entrar</button>
                </div>
                <div >
                  <a href="/cadastro" class="text-success">Cadastre-se</a>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
