<div class="main-container ">
  <div  class="header bg-success">
    <app-navegacao></app-navegacao>
  </div>
  <div class="component-wrapper">
      <router-outlet></router-outlet>
  </div>
  <div class="footer">
      <nav class="navbar navbar-expand-sm bg-success">&nbsp;</nav>
  </div>
</div>
