<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{aplicativo.nome}}
        <small>
          <a routerLink="atualizar/{{aplicativo.idAplicativo}}"><img src="assets/si-glyph-pencil.svg" width="20px" title="Alterar" /></a>
          <a (click)="eventoExcluir.emit()" style="cursor:pointer;"><img src="assets/si-glyph-button-remove.svg" width="20px" title="Excluir"/></a>
        </small>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{aplicativo.descricao}}
    </div>
  </div>
</div>
