<div class="container" style="padding:20px;">
  <div class="row">
    <div class="col-sm-12">
      <h2>Parcelas à pagar</h2>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <mat-paginator [length]="length"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  [pageIndex]="pageIndex"
                  (page)="listar($event)">
    </mat-paginator>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ng-template [ngIf]="this.parcelas">
        <mat-expansion-panel *ngFor="let parcela of parcelas">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ parcela.dataVencimento | date:"dd/MM/yyyy" }}
            </mat-panel-title>
            <mat-panel-description>
              {{ parcela.custo.titulo}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="padding:20px;" class="text-center">
            <button type="button" name="atualizar" routerLink="atualizar/{{parcela.custo.idCusto}}#parcelasHeader" class="btn btn-outline-success btn-sm">Alterar</button>&nbsp;&nbsp;
            <button type="button" name="pagar" (click)="pagar(parcela)" class="btn btn-outline-success btn-sm">Pagar</button>
          </div>
          <div class="container custo-detalhe">
            <div class="row">
              <div class="col-sm-12">
                <b>Tipo:</b> {{  parcela.custo.tipo.descricao }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <b>Veículo:</b> {{  parcela.custo.veiculo.nome }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <b>Descrição:</b> {{  parcela.custo.descricao }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <b>Valor:</b> {{  parcela.valor }}
              </div>
            </div>
            </div>
        </mat-expansion-panel>
      </ng-template>
    </div>
  </div>
</div>
