<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{tituloOperacao}} Custo</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <form class="form-group">
        <div class="form-group row">
          <div class="col-12">
            <label for="tituloCusto">Título  </label>
            <input [(ngModel)]= "this.custo.titulo" type="text" name="tituloCusto" id="tituloCusto" class="form-control" placeholder="Informe como o custo deve ser chamado" />
          </div>
        </div>
        <div class="form-group row">
          <div class="form-inline col-sm-12">
              <label for="data">Data:  </label>
              <input matInput [matDatepicker]="pickerData" readonly
              name="data" id="data" class="form-control form-control-inline" size="10"
              [(ngModel)]="this.custo.data">
              <mat-datepicker-toggle matSuffix [for]="pickerData" ></mat-datepicker-toggle>
              <mat-datepicker #pickerData touchUi></mat-datepicker>
          </div>
        </div>
        <div class="form-group row">
          <div class="form-inline col-sm-12">
              <label for="descricaoCusto">Descrição:  </label>
              <textarea [(ngModel)]= "this.custo.descricao" name="descricaoCusto"  class="form-control" id="descricaoCusto"  rows="8" cols="80" maxlength="255"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="veiculoSelect">Veículo</label>
            <select class="form-control" name="veiculoSelect"  [(ngModel)]="this.custo.veiculo" [compareWith]="compararVeiculo">
              <ng-template [ngIf]="(this.veiculos) ? true : false" >
              <option value="undefined" [selected]="this.custo.veiculo.idVeiculo == undefined" disabled>Selecione um veículo</option>
              <option  *ngFor="let veiculo of this.veiculos" [ngValue]="veiculo">
                {{veiculo.nome}}
              </option>
              </ng-template>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="tipoSelect">
              Tipo de Custo
              <small>
                <a (click)="adicionarTipo()" style="cursor:pointer;"><img src="assets/si-glyph-button-plus.svg" width="20px" title="Adicionar" /></a>
              </small>
            </label>
            <select class="form-control" name="tipoSelect"  [(ngModel)]="this.custo.tipo" [compareWith]="compararTipo">
              <ng-template [ngIf]="(this.tipos) ? true : false" >
              <option value="undefined" [selected]="this.custo.tipo.idTipoCusto == undefined" disabled>Selecione o tipo de gasto</option>
              <option  *ngFor="let tipo of this.tipos" [ngValue]="tipo">
                {{tipo.descricao}}
              </option>
              </ng-template>
              <ng-template [ngIf]="!(this.tipos) ? true : false" >
                <option value="undefined" selected disabled>Insira o tipo de custo</option>
              </ng-template>
            </select>

          </div>
        </div>
        <div class="form-group row">
          <div class="col-12" name="parcelasHeader">
            <h4>Parcelas para Pagamento
              <small>
                <a (click)="adicionarParcela()" style="cursor:pointer;"><img src="assets/si-glyph-button-plus.svg" width="20px" title="Adicionar" /></a>
              </small>
            </h4>
          </div>
        </div>
        <div *ngFor="let parcela of this.custo.parcelas, let i=index" class="form-group row">
          <div class="col-12 bg-light"><a (click)="removerParcela(i)"><img src="assets/si-glyph-button-remove.svg" width="20px" title="Remover" style="cursor: pointer;" /></a>
            <app-parcela-cadastro [parcela]="parcela"></app-parcela-cadastro>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button (click)="salvar()" class="btn btn-success">Enviar</button>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>
