.cadastro-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}

.cadastro-wrapper .container{
  width:400px;
  padding: 20px;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-color: grey;
}
