<div class="cadastro-wrapper">
  <div class="container">
    <div class="row">
      <h2>Cadastre seu email e uma senha para utilizar o serviço</h2>
    </div>
    <div class="row">
      <div class="col-sm">
        <form action="salvar()" method="post">
          <div class="form-group row">
            <div class="col-12">
              <label for="emailUsuario">Email </label>
              <input [(ngModel)]= "this.usuario.email" type="email" name="emailUsuario" id="emailUsuario" class="form-control" placeholder="Informe seu email de cadastro" size="320"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label for="senhaUsuario">Senha </label>
              <input [(ngModel)]="this.usuario.senha" type="password" name="senhaUsuario" id="senhaUsuario" class="form-control" placeholder="Informe sua senha" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label for="confimacaoSenhaUsuario">Confirme sua Senha </label>
              <input [(ngModel)]="this.confirmacaoSenha" type="password" name="confimacaoSenhaUsuario" id="confimacaoSenhaUsuario" class="form-control" placeholder="Informe sua senha" />
            </div>
          </div>
          <div class="form-group">
            <button type="button" name="button" class="btn btn-success" (click)="salvar()">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
