<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Relatórios de Faturamento</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h5>Bruto Mensal</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="display: block" *ngIf="barChartData">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <h5>Comparativo por distância</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="display: block" *ngIf="porKmChartData">
      <canvas baseChart
        [datasets]="porKmChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>
