<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{tituloOperacao}} Diária</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <form class="form-group">
        <div class="form-group row">
          <div class="form-inline col-md-3">
              <label for="dataInicio">Data de Início:  </label>
          </div>
          <div class="form-inline col-md-3">
              <input matInput [matDatepicker]="pickerDataInicio" readonly
              name="dataInicio" id="dataInicio" class="form-control form-control-inline" size="10"
              [(ngModel)]="this.dataInicio" (ngModelChange)="this.atualizarDataInicio()">
              <mat-datepicker-toggle matSuffix [for]="pickerDataInicio" ></mat-datepicker-toggle>
              <mat-datepicker #pickerDataInicio touchUi></mat-datepicker>
          </div>
          <div class="form-inline col-md-3">
            <label for="horaInicio">Hora Inicial:  </label>
          </div>
          <div class="form-inline col-md-3">
            <input matInput type="time" name="horaInicio" id="horaInicio"
            class="form-control form-control-inlinel" [(ngModel)]="horaInicio" (ngModelChange)="this.atualizarHoraInicio()" />
          </div>
        </div>
        <div class="form-group row">
          <div class="form-inline col-3">
              <label for="dataFim">Data de Encerramento:  </label>
          </div>
          <div class="form-inline col-md-3">
              <input matInput [matDatepicker]="pickerDataFim" readonly
               name="dataFim" id="dataFim" class="form-control form-control-inline" size="10"
               [(ngModel)]="this.dataFim" (ngModelChange)="this.atualizarDataFim()">
              <mat-datepicker-toggle matSuffix [for]="pickerDataFim"></mat-datepicker-toggle>
              <mat-datepicker #pickerDataFim touchUi></mat-datepicker>
          </div>
          <div class="form-inline col-md-3">
            <label for="horaFim">Hora de Encerramento:  </label>
          </div>
          <div class="form-inline col-md-3">
            <input matInput type="time" name="horaFim" id="horaFim"
            class="form-control form-control-inline" [(ngModel)]="this.horaFim" (ngModelChange)="this.atualizarHoraFim()" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <h4>Rendimentos da Diária
              <small>
                <a (click)="adicionarRendimento()"><img src="assets/si-glyph-button-plus.svg" width="20px" title="Adicionar" /></a>
              </small>
            </h4>
          </div>
        </div>
        <div *ngFor="let rendimento of this.diaria.rendimentosDiarios, let i=index" class="form-group row">
          <div class="col-12 bg-light"><a (click)="removerRendimento(i)"><img src="assets/si-glyph-button-remove.svg" width="20px" title="Remover" style="cursor: pointer;" /></a>
            <app-rendimento-diario-detalhes [rendimento]="rendimento"></app-rendimento-diario-detalhes>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button (click)="salvar()" class="btn btn-success">Enviar</button>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>
