<form class="form-group">
  <div class="form-group row">
    <div class="form-inline col-md-6 col-sm-12">
      <label for="dataParcela">Data de Vencimento</label>
      <input matInput [matDatepicker]="pickerDataVencimento" readonly
      name="dataParcela" id="dataParcela" class="form-control" size="10"
      [(ngModel)]="this.parcela.dataVencimento">
      <mat-datepicker-toggle matSuffix [for]="pickerDataVencimento" ></mat-datepicker-toggle>
      <mat-datepicker #pickerDataVencimento touchUi></mat-datepicker>
    </div>
    <div class="form-inline col-md-6 col-sm-12">
      <label for="valor">Valor:</label>
      <input type="text" name="valor" value="0.00" [(ngModel)]="this.parcela.valor" class="form-control " [textMask]="{mask: mascaraRs}">
      &nbsp;&nbsp;
      <label for="pago">Pago:</label>
      <input type="checkbox" name="pago" value="true" [(ngModel)]="this.parcela.pago" class="form-control">
    </div>
  </div>
</form>
