@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  font-size: 20px;
}

.main-container{
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: honeydew;
  display: flex;
  flex-direction: column;
}

.footer{
  min-width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.header {
  min-width: 100%;
  align-self: flex-start;
}

.component-wrapper{
  min-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  background-color: white;
  align-self: stretch;
  min-height:100%;
  flex-grow: 1;
}
