<nav class="navbar navbar-expand-md bg-success navbar-dark p-3 " [ngSwitch]="checkAutenticado()">
  <span class="navbar-brand mb-0 h1">AppDriver Financial Manager</span>
  <ng-template [ngSwitchCase]="false">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Entrar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cadastro" routerLinkActive="active" class="nav-link">Cadastre-se</a>
      </li>
    </ul>
  </ng-template>
  <ng-template [ngSwitchCase]="true">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacaoInterna">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navegacao-interna" id="navegacaoInterna">
      <ul  class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Início</a>
        </li>
        <li class="nav-item">
          <a routerLink="/veiculos" routerLinkActive="active" class="nav-link">Veiculos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/aplicativos" routerLinkActive="active" class="nav-link">Aplicativos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/diarias" routerLinkActive="active" class="nav-link">Diarias</a>
        </li>
        <li class="nav-item">
          <a routerLink="/custos" routerLinkActive="active" class="nav-link">Custos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Relatórios
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/relatorios/faturamento" routerLinkActive="active">Faturamento</a>
          </div>
        </li>
        <span class="nav-text">
          <a href="#" (click)="sair()" class="nav-link">Sair</a>
        </span>
      </ul>
    </div>
  </ng-template>
</nav>
